<header class="container"
        cvObserveElement
        #intersection="intersection"
        [class.active]="intersection.intersecting">
  <cv-nav-link title="Skills" link="#hard-skills"></cv-nav-link>
  <cv-nav-link title="Experience" link="#experience"></cv-nav-link>
  <cv-nav-link title="Education" link="#education"></cv-nav-link>
  <cv-nav-link title="Additional Skills" link="#additional-skills"></cv-nav-link>
  <cv-nav-link title="Languages" link="#languages"></cv-nav-link>
  <cv-nav-link title="Contacts" link="#contacts"></cv-nav-link>
  <a class="download-cv" href="../../assets/Anton_Golenok_CV.pdf" download>
    <div class="download-icon-container">
      <fa-icon [icon]="downloadIcon" class="download-icon"></fa-icon>
    </div>
    <span>CV.pdf</span>
  </a>
</header>
