@import "src/styles/variables";
@import "src/styles/colors";

.icon-link {
  color: $main;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 30px;
  width: 30px;

  @media (max-width: $screen-sm) {
    height: 27px;
    width: 27px;
    padding: 0.25rem;
  }

  .icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
