@import "variables";

.container {
  padding: 0 5rem;
}

.content-container {
  max-width: $content-width;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

.bg-white {
  background: white;
}

.parallax-effect {
  position: relative;
  transform-style: preserve-3d;
}
