@import "variables";
@import "colors";

.container {
  padding: 0 5rem;
}

.content-container {
  max-width: $screen-xl;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

.parallax-effect {
  position: relative;
  transform-style: preserve-3d;
}

.bg-white {
  background: white;
}

.main-green {
  color: $main-green;
}
