<div class="parallax">
  <cv-header></cv-header>
  <cv-summary-qualification class="position-relative z-index-5"></cv-summary-qualification>
  <cv-hard-skills id="hard-skills" class="position-relative z-index-5"></cv-hard-skills>
  <cv-experience id="experience" class="parallax-effect"></cv-experience>
  <cv-soft-skills class="position-relative z-index-5"></cv-soft-skills>
  <cv-education id="education"></cv-education>
  <cv-additional-skills id="additional-skills"></cv-additional-skills>
  <cv-languages id="languages"></cv-languages>
  <cv-contacts id="contacts"></cv-contacts>
</div>
