@import "src/styles/colors";

:host {
  height: 100%;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: $main;
    text-decoration: none;
    position: relative;
    padding: 0 2rem;
    white-space: nowrap;

    .underline {
      position: absolute;
      height: 1px;
      background-color: $main;
      width: 0;
      top: calc(50% + 1px);
      right: 2.5rem;
    }

    &:hover,
    &:focus {
      .underline {
        transition: 0.3s ease-in;
        width: calc((100% - 5rem) * 0.65);
      }
    }
  }
}
