@import "src/styles/variables";
@import "src/styles/colors";

.soft-skill {
  padding: 1.5rem 2rem;
  border-radius: 50%;
  background-color: $peach;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  color: $main-white;
  transition: transform 0.3s linear;
  white-space: nowrap;

  @media (max-width: $screen-lg) {
    padding: 1rem 1rem;
  }

  @media (max-width: $screen-md) {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
}
