<a class="hard-skill"
   [href]="path"
   (mouseenter)="isHovered = true"
   (mouseleave)="isHovered = false"
   target="_blank"
   cvObserveElement
   #intersection="intersection"
   [style.boxShadow]="isHovered ? boxShadow : 'none'">
  <fa-icon *ngIf="icon"
           [icon]="icon"
           class="skill-icon"
           [style.color]="iconColor"></fa-icon>
  <div class="progress-container">
    <div class="progress-title">{{title}}</div>
    <div class="progressbar">
      <div class="progressbar-fill"
           [style.width.%]="intersection.intersecting ? progress : 0"></div>
    </div>
  </div>
</a>
